/*Reset CSS*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Configurações Globais*/

body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/*Componentes do post*/
.post-card{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    
}

.post-image{
    width: 200px;
height: 200px;
border-radius: 10px 0 0 10px;
& img{
overflow: auto;
object-fit: cover;
}
}
